body {background-color: cornflowerblue;
}

h1{font-size: 300%;
color: black;
}

h2{font-size: 150%;
color: brown;
}

.img1 {text-align: center;}

.img2 {text-align: center;}

.img3 {text-align: center;}

.img3 {width: 100%;}