body {background-color: cornflowerblue;
}

h1{font-size: 300%;
color: black;
}

h2{font-size: 150%;
color: brown;
}

#img1 {text-align: center;}

#img2 {text-align: center;}

#img3 {text-align: center;}

#img3 {width: 100%;}

#img1 {margin-left: 50px;}

#img2 {margin-left: 50px;}

#img3 {margin-left: 50px;}

#img1 {margin-top: 50px;}

#img2 {margin-top: 50px;}

#img3 {margin-top: 50px;}






